//Text
$text-blue: hsl(238, 29%, 16%);
$text-orange: hsl(14, 88%, 65%);
$text-gray-blue: hsl(237, 12%, 33%);
$text-dark-blue: hsl(240, 6%, 50%);

//Gradient
$gradient-1: hsl(273, 75%, 66%);
$gradient-2: hsl(240, 73%, 65%);

//Divider
$divider: hsl(240, 5%, 91%);

//Shadow
$shadow: hsla(0, 0%, 0%, 0.3);
